@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    /* colors */
    --color-white: #ffffff;
    --color-accent: #7289da;
    --color-black: #1e2124;
    --color-grey: #424549;
    --color-lightgrey: #d3d3d3;

    /* fonts */
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-headings-l: 40px;
    --font-headings-m: 32px;
    --font-headings-s: 24px;

    --font-weight-headings: 600;
    --font-weight-body: 400;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: var(--font-weight-body);
}

/* regole flex */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.main-axis-flex-end {
    justify-content: flex-end;
}
.perfect-center {
    justify-content: center;
    align-items: center;
}

/* regole colori */
.text-white {
    color: var(--color-white);
}
.text-black {
    color: var(--color-black);
}
.text-body {
    color: var(--color-grey);
}
.text-accent {
    color: var(--color-accent);
}
.bg-white {
    background-color: var(--color-white);
}
.bg-grey {
    background-color: var(--color-lightgrey);
}
.bg-accent {
    background-color: var(--color-accent);
}
.bg-black {
    background-color: var(--color-black);
}
/* regole font */
.text-default {
    font-size: var(--font-16);
    font-weight: var(--font-weight-body);
}
.text-s {
    font-size: var(--font-14);
    font-weight: var(--font-weight-body);
}
.text-xs {
    font-size: var(--font-12);
    font-weight: var(--font-weight-body);
}
.text-h1 {
    font-size: var(--font-headings-l);
    font-weight: var(--font-weight-headings);
}
.text-h2 {
    font-size: var(--font-headings-m);
    font-weight: var(--font-weight-headings);
}
.text-h3 {
    font-size: var(--font-headings-s);
    font-weight: var(--font-weight-headings);
}

/* regole finali */

nav {
    flex-basis: 60%;
    /* height: 48px; */
    /* background-color: blueviolet; */
}
/* nav list */
nav ul {
    text-align: center;
}
/* nav links */
nav ul li {
    display: inline-block;

    padding: 16px 8px;
    margin: 0 8px;
}

/* --- codice temporaneo per esercizio --- */

/* header + bottom footer */
header, #footer-bottom, #footer-top {
    background-color: bisque;
    width: 80%;
}
.logo-box, .btn-box {
    flex-basis: 120px;
    /* height: 48px; */
    /* background-color: blue; */
}

footer {
    background-color: aqua;
    padding: 40px 0;
}
#footer-top > div {
    flex-basis: 12%;
    height: 48px;
    background-color: blueviolet;
}
#footer-top .first {
    flex-basis: 24%;
}

/* hero */
#hero {
    background-color: aquamarine;
    padding-bottom: 40px;
    gap: 40px;
}

/* hero content */
#hero > div {
    width: 80%;
    flex-basis: 280px;
    background-color: lightsteelblue;
}
/* button container into hero content */
.hero-btn-box {
    width: 280px;
    height: 80px;
    background-color: chocolate;
}

/* main sections */
main > section {
    background-color: khaki;
    padding: 28px 0;
}
main > section:nth-child(even) {
    background-color: darkkhaki;
}
/* main section container */
.section-container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: chartreuse;
    gap: 28px;
}

/* imgs and content into the main sections */
.section-container > figure, .section-container > div {
    height: 320px;
    background-color: darkgreen;
}
.section-container > figure {
    flex-basis: 60%;
}
.section-container > div {
    flex-basis: 40%;
}

/* styles for last main section */
.section-container.last > figure, .section-container.last > div {
    width: 80%;
}
.section-container.last > figure {
    flex-basis: 320px;
}
.section-container.last > div {
    flex-basis: 160px;
}

.cta-section {
    height: 200px;
}