@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    /* colors */
    --color-white: #ffffff;
    --color-accent: #7289da;
    --color-black: #1e2124;
    --color-grey: #424549;
    --color-lightgrey: #eeeeee;

    /* fonts */
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-headings-l: 40px;
    --font-headings-m: 32px;
    --font-headings-s: 24px;

    --font-weight-headings: 600;
    --font-weight-body: 400;

    --font-lh-body: 140%;
    --font-lh-headings: 125%;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset button */
button {
    border: none;
}
/* reset img */
img {
    display: block;
    max-width: 100%;
}
figure {
    display: inline-block;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: var(--font-weight-body);
}

/* regole flex */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.main-axis-flex-end {
    justify-content: flex-end;
}
.perfect-center {
    justify-content: center;
    align-items: center;
}

/* regole colori */
.text-white {
    color: var(--color-white);
}
.text-black {
    color: var(--color-black);
}
.text-body {
    color: var(--color-grey);
}
.text-accent {
    color: var(--color-accent);
}
.bg-white {
    background-color: var(--color-white);
}
.bg-grey {
    background-color: var(--color-lightgrey);
}
.bg-accent {
    background-color: var(--color-accent);
}
.bg-black {
    background-color: var(--color-black);
}
/* regole font */
.text-default {
    font-size: var(--font-16);
    font-weight: var(--font-weight-body);
    line-height: var(--font-lh-body);
}
.text-s {
    font-size: var(--font-14);
    font-weight: var(--font-weight-body);
}
.text-xs {
    font-size: var(--font-12);
    font-weight: var(--font-weight-body);
}
.text-h1 {
    font-size: var(--font-headings-l);
    font-weight: var(--font-weight-headings);
    line-height: var(--font-lh-headings);
    margin-bottom: 12px;
}
.text-h2 {
    font-size: var(--font-headings-m);
    font-weight: var(--font-weight-headings);
    line-height: var(--font-lh-headings);
    margin-bottom: 12px;
}
.text-h3 {
    font-size: var(--font-headings-s);
    font-weight: var(--font-weight-headings);
    line-height: var(--font-lh-headings);
    margin-bottom: 8px;
}
.text-center {
    text-align: center;
}

/* buttons style */
.btn {
    border-radius: 900px;
    padding: 8px 16px;
}
.btn-primary {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: var(--font-14);
    font-weight: var(--font-weight-body);
}
.btn-secondary {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-14);
    font-weight: var(--font-weight-body);
}
.btn-accent {
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: var(--font-14);
    font-weight: var(--font-weight-body);
}

/* --- codice temporaneo per esercizio --- */

#footer-top > div {
    flex-basis: 12%;
    
}
#footer-top .first {
    flex-basis: 24%;
}



/* REGOLE FINALI */
#hero {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 80px;
    padding: 12px 0 80px;
}
/* hero content */
#hero > div {
    width: 80%;
    gap: 16px;
}
/* hero content lead & last main section p */
#hero > div > p {
    width: 72%;
}
.hero-btn-box {
    gap: 12px;
}
/* header */
header {
    width: 80%;
}
nav {
    flex-basis: 60%;
    /* height: 48px; */
    /* background-color: blueviolet; */
}
/* nav list */
nav ul {
    text-align: center;
}
/* nav links */
nav ul li {
    display: inline-block;
    padding: 16px 8px;
    margin: 0 8px;
}

/* main sections */
main > section:nth-child(even) {
    background-color: var(--color-lightgrey);
}
/* main section container */
.section-container {
    width: 80%;
    margin: 0 auto;
}
.section-container > figure {
    flex-basis: 58%;
}
.section-container > div {
    flex-basis: 42%;
}

/* styles for last main section */
.section-container.last figure {
    flex-basis: auto;
}
.section-container.last div {
    flex-basis: auto;
    width: 100%;
    margin: 0 auto;
}

/* cta section */
.section-container.cta-section {
    margin-bottom: 40px;
}
.section-container.cta-section > div {
    margin-bottom: 28px;
}

/* footer */
footer {
    background-color: var(--color-black);
    padding: 40px 0;
    gap: 20px;
}
/* top + bottom footer */
#footer-bottom, #footer-top {
    width: 80%;
}
/* rows of first column in top-footer */
.language-selector, .social-icons-container {
    margin: 8px 0;
}
.language-selector {
    gap: 4px;
}
.social-icons-container {
    gap: 12px;
}

/* small icons */
.icon-small {
    width: 20px;
}

/* secondary navs (footer-top) */
.footer-nav span {
    margin-bottom: 8px;
}
.footer-nav ul {
    list-style-type: none;
}
.footer-nav ul li {
    padding: 4px 0;
}

/* footer-bottom */
#footer-bottom {
    padding: 12px 0;
    border-top: 1px solid var(--color-grey);
}

/* waves */
.waves {
    background-image: url(../img/wave.svg);
    height: 120px;
    filter: invert(100%);
    rotate: 180deg;
    margin: 0 0 40px;

}
.waves.bottom {
    rotate: 0deg;
    margin: 80px 0 0;
}